form {
  height: 300px;
  width: 200px;
  background-color: aqua;
  margin: auto;
  padding: 10px;
}

input {
  width: 90%;
  margin: 5px 0px;
}
button {
  padding: 10px;
  background-color: red;
  border: none;
  outline: none;
  color: #fff;
  width: 90%;
}
